apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pihole-admin
  namespace: pihole
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: pihole-admin
    creationPolicy: Owner
    template:
      type: Opaque
  data:
    - secretKey: password
      remoteRef:
        key: apps/pihole
        property: password

