---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - httproute.yaml
  # Disabling certificate, using reverse-proxy via pangolin
  # - certificate.yaml 
