---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault
  namespace: vault
spec:
  interval: 30m
  chart:
    spec:
      chart: vault
      version: "0.31.0"
      sourceRef:
        kind: HelmRepository
        name: hashicorp
        namespace: vault
      interval: 12h
  values:
    server:
      enabled: true

      image:
        repository: "hashicorp/vault"
        tag: "1.19.0"

      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 512Mi
          cpu: 500m

      extraSecretEnvironmentVars:
        - envName: AWS_ACCESS_KEY_ID
          secretName: vault-aws-creds
          secretKey: AWS_ACCESS_KEY_ID
        - envName: AWS_SECRET_ACCESS_KEY
          secretName: vault-aws-creds
          secretKey: AWS_SECRET_ACCESS_KEY
        - envName: AWS_REGION
          secretName: vault-aws-creds
          secretKey: AWS_REGION

      ha:
        enabled: true
        replicas: 3

        raft:
          enabled: true
          setNodeId: true

          config: |
            ui = true

            listener "tcp" {
              tls_disable     = 1
              address         = "[::]:8200"
              cluster_address = "[::]:8201"
            }

            storage "raft" {
              path = "/vault/data"
            }

            service_registration "kubernetes" {}

            seal "awskms" {
              region     = "us-east-1"
              kms_key_id = "e65746b3-f625-4554-8ad5-3b7e254b5f02"
            }

      dataStorage:
        enabled: true
        size: 10Gi
        storageClass: nfs-csi-retain
        accessMode: ReadWriteOnce

      ingress:
        enabled: false

    ui:
      enabled: true
      serviceType: "ClusterIP"

